<form action="/gateway/charge" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key=<%= keyPublishable %>
            data-amount= <%= amount %>
            data-name="Artist-Hub"
            data-description="2 widgets"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
    </script>
</form>