<div class="row">
    <div class="col s12 xs12 l6 product-thumbnail-slider-wrapper __content-left">
        <div class="product-thumbnail-slider">
            <div class="product-syn-slider-1-wrapper">
                <div class="product-syn-slider-1 syn-slider-1 direction-nav">
                    <div class="block-product-slider">
                        <div data-mfp-src="assets/images/shop/product-img-2-l.jpg" class="__image zoom-button img-wrapper">
                        <div id="player">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 xs12 l6 __content-right">
        <div class="product-detail">
            <h3 class="fz-3-l"><a><%= product.product_name%></a></h3>
            <div class="__rating clearfix">
                <div data-rating='4' class="star-ratings"><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span></div>
                <p class="color-secondary">(1 customer review)</p>
            </div>
            <div class="__price fz-4 font-heading">
                <span class="color-primary"><%= product.price %></span>
            </div>
            <div class="__text">
                <p>Nullam fringilla tristique elit id varius. Nulla lacinia quam nec venenatis dignissim. Vivamus volutpat tempus semper. Cras feugiat mi sit amet risus consectetur, non consectetur nisl finibus. Ut ac eros quis mi volutpat cursus vel non risus. In non neque lacinia, aliquet tortor sed, consectetur nibh. Nulla faucibus risus in ligula elementum bibendum.</p>
            </div>
            <form>
                <div class="__option-2 clearfix">
                    <div class="__button"><a class="btn btn-primary" onclick="addToCart(<%= product.prod_id %>)"><i class="icon-shopping111"></i>ADD TO CART</a></div>
                </div>
            </form>
            <br>
            <div class="__others">
                <p>VIEWS:&nbsp;<a><%= product.views%></a></p>
                <p>ARTIST:&nbsp;<a href="#"><ArtistName></a></p>
            </div>

            <ul class="social circle secondary responsive">
                <li><a href="#"><i class="icon icon-facebook-1"></i></a></li>
                <li><a href="#"><i class="icon icon-twitter-1"></i></a></li>
            </ul>
        </div>
    </div>
</div>