<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>hey payment done</h2>

<br>

<a href= "/generatedInvoice/<%= invoice %>" download="invoice">Invoice</a>

</body>
</html>